go 1.25.5

use (
	./bank
	./investment-calculator
	./profit-calculator
	./pointers
	./structs
	./structs-practice
	./empty-interfaces
	./arrays
	./maps
	./functions
	./price-calculator
	./concurrency
)
